soap/src/main/java/com/vsii/soap/model/employees.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8081/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8081/soap" targetNamespace="http://localhost:8081/soap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8081/soap">
    <xs:element name="GetEmployeesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetEmployeesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Employees" type="tns:Employees"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Employees">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="room" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployeesRequest">
    <wsdl:part element="tns:GetEmployeesRequest" name="GetEmployeesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetEmployeesResponse">
    <wsdl:part element="tns:GetEmployeesResponse" name="GetEmployeesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeesPort">
    <wsdl:operation name="GetEmployees">
      <wsdl:input message="tns:GetEmployeesRequest" name="GetEmployeesRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetEmployeesResponse" name="GetEmployeesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeesPortSoap11" type="tns:EmployeesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetEmployeesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetEmployeesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeesPortService">
    <wsdl:port binding="tns:EmployeesPortSoap11" name="EmployeesPortSoap11">
      <soap:address location="http://localhost:8081/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>